:root {
  --primary-color: #ffae57;
  --secondary-color: #6e8898;
  --white: #fffaff;
  --shadow: #040c19;
  --background: #0a192f;
}

body {
  background-color: var(--background);
}

.alert {
  background-color: var(--shadow);
  color: var(--primary-color);
}

.card {
  background-color: var(--background);
  border: none;
  box-shadow: 4px 4px 12px var(--shadow);
  padding: 1.2rem;
}

.dark-card {
  background-color: var(--shadow);
  box-shadow: 4px 4px 12px var(--shadow);
  color: var(--white);
}

.btn {
  display: block;
  margin: auto;
}

.btn-prim {
  background-color: var(--shadow);
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-prim:hover,
.btn-prim:focus,
.btn-prim:visited,
.btn-prim:active {
  background-color: var(--primary-color);
  color: var(--shadow);
  outline: none;
  border: 1px solid var(--primary-color);
}

.btn-light {
  background-color: var(--shadow);
  border-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-light:hover,
.btn-light:active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--shadow);
}

input {
  color: var(--white);
  background-color: var(--shadow);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  width: 100%;
}

input:focus {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  outline: none;
}

/* Navbar */
.navbar .navbar-brand {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: var(--secondary-color);
}

/* Blog */
.card-tags {
  margin-bottom: 0.5rem;
}

.card-tags a {
  color: var(--primary-color);
}

.card-tags a:hover,
.card-tags a:focus {
  color: var(--primary-color);
  text-decoration: underline;
}

.card-tags span {
  color: var(--primary-color);
  margin-right: 0.4rem;
  cursor: pointer;
}

.card .card-title {
  color: var(--white);
}

.card .card-title a {
  color: var(--white);
}

.card .card-title a:hover {
  text-decoration: none;
}

.card .card-text {
  color: var(--secondary-color);
  margin-top: 1rem;
}

.card .card-text .post-author {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

/* Forms */
.form-card {
  max-width: 350px;
  margin: 1.5rem auto;
  padding: 1.6rem;
}

.form-card label {
  display: block;
}

.form-card p {
  color: var(--white);
}

.form-card h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.2rem;
}

.form-card .form-footer {
  text-align: center;
  margin-top: 1.3rem;
}

.form-card .form-footer p {
  color: var(--secondary-color);
  margin: 0.1rem;
}

.form-card .form-footer a {
  color: var(--primary-color);
}

.errorlist {
  font-size: 0.8rem;
  color: var(--secondary-color);
  margin: 0;
  padding: 0.5rem;
  padding-left: 0rem;
  list-style: none;
}

/* Profile Page */
.profile-card {
  margin: 1rem auto;
  padding: 1.8rem;
  max-width: 750px;
}

.base-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-card .profile-pic img {
  border: 5px solid var(--secondary-color);
  height: 125px;
  margin-right: 2.2rem;
}

.profile-card .profile-content p {
  color: var(--primary-color);
  margin-bottom: 0.1rem;
}

.profile-card .profile-content h2 {
  font-size: 2rem;
}

.profile-card .profile-content .p-number {
  color: var(--primary-color);
  margin-bottom: 0.1rem;
  font-size: 1.3rem;
}

.profile-card .extra-info .bio {
  color: var(--secondary-color);
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.profile-card .extra-info .email {
  color: var(--primary-color);
  text-decoration: underline;
}

.edit-btn {
  position: absolute;
  top: 118px;
  left: 285px;
  padding: 0 0.3rem;
  font-size: 0.75rem;
}

.side-card h4 {
  font-size: 1.2rem;
  color: var(--white);
}

.tags {
  padding: 0.9rem;
}

.tags p a {
  color: var(--primary-color);
}

.edit input {
  border-color: var(--primary-color);
}

.edit input:focus {
  border-color: var(--secondary-color);
}

.edit label {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

#id_bio {
  color: var(--secondary-color);
}

#id_profile_image {
  border: none;
  padding-left: 0.1rem;
  margin: 0.5rem 0rem;
}

.image-upload {
  margin-bottom: 0.5rem;
}

.image-upload label {
  margin-bottom: 0rem;
}

#id_profile_image::-webkit-file-upload-button {
  background-color: var(--shadow);
  border-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  outline: none;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#id_profile_image::-webkit-file-upload-button:hover,
#id_profile_image::-webkit-file-upload-button:active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--shadow);
}

.wrapper {
  min-height: calc(100vh - 78px - 64px);
}

/* Footer */
footer {
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  padding: 16px 10px;
}

footer a {
  color: var(--primary-color);
}

footer a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 500px) {
  .home-side-bar {
    display: none;
  }

  .profile-card {
    margin: 0.6rem auto;
    padding: 1.2rem;
    max-width: 400px;
  }

  .profile-card .profile-pic img {
    border: 4px solid var(--secondary-color);
    height: 85px;
    margin-right: 1.3rem;
  }

  .profile-card .profile-content p {
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  .profile-card .profile-content h2 {
    font-size: 1.5rem;
  }

  .profile-card .profile-content .p-number {
    font-size: 1.1rem;
  }

  .profile-card .extra-info .bio {
    font-size: 0.9rem;
  }

  .profile-card .extra-info .email {
    font-size: 0.8rem;
  }

  .edit-btn {
    top: 80px;
    left: 205px;
  }

  .tags {
    padding: 0.2rem;
  }
  .tags p {
    display: inline;
    padding: 0rem;
    margin-right: 0.6rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
