:root {
  --primary-color: #ffcc66;
  --secondary-color: #6e8898;
  --white: #fffaff;
  --background: #040c19;
}

body {
  background-color: var(--background);
}

.navbar .navbar-brand {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: var(--white);
}
