{% load static %}
<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><img src="{% static 'blog/img/idea.svg' %}" height="35px" alt="icon" />
      BlogPoint</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"
        ><img src="{% static 'blog/img/open-menu.svg' %}" height="25px" alt=""
      /></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link home-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link about-link" href="{% url 'about' %}">About</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link profile-link" href="{% url 'profile' %}"
            >Profile</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'logout' %}"
            style="color: var(--primary-color);"
            >Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link login-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
