{% extends 'blog/base.html' %}

<!-- Load static -->
{% load static %}

<!-- Title block -->
{% block title %}
BlogPoint | Login
{% endblock %}

<!-- Main content -->
{% block content %}
<main class="container">
	<div class="card dark-card form-card mt-4">
	  <h2 class="form-title">
		<img src="{% static 'blog/img/login.svg' %}" height="35px" alt="login" />
		Login
	  </h2>
	  <form method="POST">
		{% csrf_token %} 
	
		{% for field in form %}
		<div class="form-group">
		  {{ field.label_tag }} {{ field }} {{ field.errors }}
		</div>
		{% endfor %}
		
		<div class="errorlist pt-0">
			{{ form.non_field_errors }}
		</div>

		<button type="submit" class="btn btn-prim">Login</button>
	  </form>
	  <div class="form-footer">
		<span>Dont have an account yet ?
		<a href="{% url 'register' %}"> Register</a>
	  </div></span>
	</div>
  </main>
  
  <script>
	  const inputTag = document.querySelectorAll('input');
	  console.log(inputTag[1]);
	  inputTag[1].setAttribute('autocomplete', 'off');
  </script>
{% endblock %}